<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>billsystem@gmail.com</key>
	<string>billsystem123</string>
	<key>swift@gmail.com</key>
	<string>swift123</string>
	<key>lambton@gmail.com</key>
	<string>lambton123</string>
	<key>admin@gmail.com</key>
	<string>admin123</string>
	<key>mohit@gmail.com</key>
	<string>mohit123</string>
</dict>
</plist>
